.box { 
	background: url(/images/nt.jpg) repeat;
	width: 690px;
	text-align:left;
	margin:40px auto;
 }
 
.boxtop div {
	background: url(/images/tl.jpg) no-repeat top left; 
 }
 
.boxtop { 
	background: url(/images/tr.jpg) no-repeat top right;
 }

.boxbottom div {
	background: url(/images/bl.jpg) no-repeat bottom left;
 }
 
.boxbottom {
	background: url(/images/br.jpg) no-repeat bottom right;
 }

.boxtop div, .boxtop, .boxbottom div, .boxbottom {
	width: 100%;
	height: 25px;
	font-size: 25px;
}


